@import "tailwindcss";
@config "../../tailwind.config.js";

body {
  @apply font-sans;
}

/* Override ApexCharts tooltip background */
.apexcharts-tooltip {
  background-color: #312929 !important;
  color: inherit !important; /* keep text color from your theme */
  border-radius: 0.5rem; /* optional rounded corners */
  padding: 0.5rem 1rem; /* optional padding */
  box-shadow: none !important; /* remove shadow if needed */
  border-color: hsl(var(--heroui-content1) / 1) !important;
}

.apexcharts-tooltip-title {
  border: none !important;
  background-color: #292931 !important;
}

.apexcharts-xaxistooltip,
.apexcharts-xaxistooltip-bottom,
.apexcharts-active {
  background-color: #292931 !important;
  color: inherit !important; /* keep text color from your theme */
  border-radius: 0.5rem; /* optional rounded corners */
  box-shadow: none !important; /* remove shadow if needed */
  border-color: hsl(var(--heroui-content1) / 1) !important;
}
